// inspired by mdb; material design for bootstrap
/*********************
  Shadows
**********************/
$shadow-z1: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$shadow-z1half: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
$shadow-z2: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$shadow-z3: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
$shadow-z4: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
$shadow-z5: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
$hover-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$hover-shadow-top: 8px 0 17px -4px rgba(0, 0, 0, 0.2), -8px 0 17px -4px rgba(0, 0, 0, 0.2);

.z-depth-0 {
  box-shadow: none !important;
}

.z-depth-1 {
  box-shadow: $shadow-z1;
}

.z-depth-1-half {
  box-shadow: $shadow-z1half;
}

.z-depth-2 {
  box-shadow: $shadow-z2;
}

.z-depth-3 {
  box-shadow: $shadow-z3;
}

.z-depth-4 {
  box-shadow: $shadow-z4;
}

.z-depth-5 {
  box-shadow: $shadow-z5;
}

.hoverable, .hoverable-top {
  transition: box-shadow .4s ease-in-out 0s;
  box-shadow: none;
}

.hoverable:hover {
  box-shadow: $hover-shadow;
}

.hoverable-top:hover {
    box-shadow: $hover-shadow-top;
}

